<!DOCTYPE html>
<html>

<head>
    <title>Photogram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content" class="content content-full-width">
                    <!-- navigation bar -->
                    <div class="py-2">
                        <ul class="profile-header-tab nav nav-tabs">
                            <li class="nav-item"><a href="#profile-post" class="nav-link active show" data-toggle="tab">HOME</a></li>
                            <li class="nav-item"><a href="#profile-about" class="nav-link" data-toggle="tab">PROFILE</a></li>
                        </ul>
                    </div>
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>